#edit-bpi-settings #edit-configurations .panel-body {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

#edit-bpi-settings #edit-configurations #edit-dropdowns,
#edit-bpi-settings #edit-configurations #edit-checkboxes {
  width: 45%;
}
