.path-node {
  &.page-node-type-book-list .block-views-blockbooks-book-list-books-block,
  &.page-node-type-similar .block-views-blockinternal-links-internal-links-block {
    background-color: $lightest-gray;
    background: $dark-bg;
    .content-wrapper {
      @include container-fixed(0);
      @include bs-container();
      @include slider-paddings();
      h2.block-title {
        @include icon-title();
        margin-top: $xlarge-spacer;
        padding-left: $small-spacer;
      }
    }
  }
  &.page-node-type-book-list .block-views-blockbooks-book-list-books-block .book-list-books-block,
  &.page-node-type-similar .block-views-blockinternal-links-internal-links-block .internal-links-block {
    padding-top: $xxlarge-spacer;
    @include respond-to(tablets-portrait) {
      margin-left: -$regular-spacer;
      margin-right: -$regular-spacer;
      @include respond-to(phones-landscape) {
        padding-top: $large-spacer;
      }
    }
    .views-infinite-scroll-content-wrapper {
      display: flex;
      align-items: stretch;
      flex-direction: row;
      flex-wrap: wrap;
      .views-row {
        @include make-sm-column(4, 30px);
        @include make-md-column(3, 30px);
        margin-bottom: $xlarge-spacer;
        @include respond-to(phones-landscape) {
          width: 33.33333%;
          @include respond-to(phones) {
            padding-left: $xxlarge-spacer;
            padding-right: $xxlarge-spacer;
            width: 100%;
          }
        }
        @include slider-item();
      }

      @include ajax-pager();
    }
  }

  .pager {
    @include pager;
  }
}

.booklists {
  background-color: $dark-bg;
  padding-bottom: $large-spacer;

  .views-exposed-form {
    font-family: "RobotoSlab-Regular",serif;
    padding-top: 15px;
    @include container-fixed();
    @include bs-container();
    @include slider-paddings();
    @include respond-to(phones) {
      padding-left: 0;
      padding-right: 0;

      .block-title {
        padding-left: $large-spacer;
        padding-right: $large-spacer;
      }
    }

    .form-inline {
      position: relative;
    }

    .form-type-textfield {
      padding: 0 1em;

      label {
        color: $white;
        display: block;
        font-size: 30px;
        height: 50px;
        margin: 0;
      }

      input {
        height: 50px;
      }
    }

    .form-actions {
      position: absolute;
      bottom: 0;
      margin: 0;
      padding: 0 1em;

      @include respond-to(tablets-portrait) {
        position: relative;
      }

      button {
        height: 50px;
      }
    }
  }

  .pager {
    @include pager;
  }
}
