body {
  padding: 0;
  margin-top: 0 !important;
}
.main-container {
  min-height: 10vh;
  padding-top: 0;
}
// Wrap all needed pages here
.path-system, .path-da, .path-en, .system-container, .path-admin, .path-taxonomy {
  padding-left: 0;
  padding-right: 0;
  .region-content {
    padding-top: $large-spacer;
    min-height: 30vh;
    font-size: $medium-font-size;
    @include footer-paddings();
    @include respond-to(phones-landscape) {
      padding-top: $xlarge-spacer;
      padding-left: 0;
      padding-right: 0;
    }
    @include pager-nav();
  }
}
.path-node, .path-group, .path-user {
  .main-container {
    background-color: $inverse-color;
    color: $primary-text-color;
    .node-add-wrapper {
      @include slider-paddings();
      padding-bottom: $xlarge-spacer;
      @include respond-to(tablets-portrait) {
        padding-left: 0;
        padding-right: 0;
        @include respond-to(phones-landscape) {
          @include make-row(20px);
        }
      }
      padding-top: $xlarge-spacer;
      dl {
        dt {
          line-height: $main-text-line-height;
          a {
            &:hover, &:focus {
              color: $brand-color;
            }
          }
        }
      }
    }
    .node-page-container {
      @include make-row(30px);
      color: $inverse-text-color;

      .block-views-blockrelated-content-related-content-block {
        color: $primary-text-color;
      }
    }
  }
}
// Wrap content in container
.path-saved-content, .path-comment, .path-da, .path-en, .path-book-lists-overview {
  .region-content {
    padding-top: $xlarge-spacer;
    @include container-fixed(30px);
    @include bs-container();
    @include respond-to(phones-landscape) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
.path-saved-content, .path-taxonomy, .path-comment, .path-da, .path-en, .path-book-lists-overview {
  .region-content {
    > div, > .comment-form {
      @include slider-paddings();
    }
  }
}
// Individual comments path overrides
.path-comment {
  article > .container {
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 100%;
  }
}
// Saved Content
.path-saved-content {
  .region-content > .system-block-wrap > .form-group {
    margin-bottom: $large-spacer;
    .table-responsive {
      padding-bottom: 20px;
    }
  }
  .table > tbody > tr > td {
    &.views-empty {
      display: none; // Hide Dublication of 'No saved content'
    }
  }
}
.path-contact {
  .contact-page {
    .region-content > .system-block-wrap {
      @include slider-paddings();
    }
  }
  .contact-message-literature-form {
    float: left;
    margin-top: $xlarge-spacer;
    margin-bottom: $xlarge-spacer;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    @include respond-to(phones) {
      margin-top: $large-spacer;
      margin-bottom: $large-spacer;
    }
  }
}

.region-content {
  .tabs {
    @include container-fixed(30px);
    @include bs-container();
  }
}
h3, h4, h5, h6 {
  @include respond-to(phones) {
    padding: 0 15px;
  }
}
@include like-dislike();

.field--type-image {
  &.image--default img {
    border: 1px solid $light-gray;
  }
}
.field--name-field-title {
  @include h1-paragraph();
}
.field--name-field-short-text {
  color: $primary-text-color;
  margin-top: 15px;
  margin-bottom: 30px;
  font-size: $large-font-size;
  font-style: italic;
}
table.sticky-header {
  z-index: 50;
}
.main-container .highlighted .alert {
  margin-top: $regular-spacer;
}
.panel-group {
  @include bs-accordion();
}

.block-type-content_carousel,
.block-type-book_list_carousel,
.block-type-similar_content_tabs {
  ul.links.inline.list-inline {
    width: 100%;
    li {
      &.node-all {
        width: 50%;
      }
      &.node-readmore {
        text-align: right;
        width: 50%;
      }
    }
  }
}

.spot .node-type {
  display: none;
}

.page-node-type-page .content,
.page-node-type-landing-page .region,
.booklists-page-attachment .container,
.booklists-collections .container {

  .tns-controls {
    outline: 0;
  }
  .tns-liveregion {
    display: none;
  }

  .tns-outer {
    padding: 0 !important;
    margin: 0px -27px 20px -17px;
  }

  .field--name-field-small-spots {
    .article-wrapper {
      padding: 0 1em;
    }

    article {
      background-color: #d8d8d8;
      padding: 0;
      width: 100%;

      > a {
        width: 100%;
      }

      &:hover {
        background-color: $brand-color;
        color: $white;
        transition: all .2s ease-out;

        h2 {
          color: $white;
          &:after {
           display: inline-block;
          }
        }
      }

      .content {
        min-height: 126px;
      }

      h2:after {
        display: none;
      }
    }
    h2 {
      display: block;
      height: 130px;
      padding: 20px 15px;
      font-size: 24px;
      line-height: 35px;
      margin: 0;

      @include arrows-link($inverse-text-color, $inverse-text-color, $xlarge-spacer, $large-font-size, inline-block, static, $large-spacer, $large-spacer);

      span {
        color: inherit;
      }
    }

    .field--name-field-article-cover-image {
      width: 100%;
      height: 100%;
      display: block;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
    }

    .field--type-image img.img-responsive {
      flex-shrink: 0;
      min-width: 100%;
      min-height: 100%;
      object-fit: cover;
      width: auto;
      max-width: none;
    }
  }

  .field--name-field-dropdown-element {
    .panel {
      box-shadow: none;
    }

    .collapse-content {
      box-shadow: rgba(0, 0, 0, 0.1) 0 1px 1px;

      .inner {
        padding: 0 30px!important;
      }
    }
  }

}
.page-node-type-page .newsletter-divider {
  border-top-color: #ccc;
}
.page-node-type-page .newsletter {
  margin: 0 -1em;

  .mailchimp-signup-subscribe-form {
    width: 100%;
    margin: 0 1em;
    padding: 1em 2em;

    // For some reason the same class appears twice.
    .mailchimp-signup-subscribe-form {
      padding: 0;
      margin: 0;
    }
  }
}

.page-node-type-page .field--name-field-block-reference {
  border-top: 1px solid #ddd;
  padding-top: 2em;
}

.page-node-type-page .accordion .panel {
  border: 0;
  box-shadow: none;
}

.block-type-list_of_book_lists {
  max-height: 450px;
  overflow: hidden;
}
.field--name-field-small-spots > .field--item:not(.tns-item) {
  display: inline-grid;
  width: 33%;
}
.field--name-field-small-spots > .field--item:not(.tns-item):not(:first-child):not(:nth-child(2)):not(:nth-child(3)) {
  display: none;
}

.custom-small-spots .tns-outer .tns-controls button:first-child::before {
  left: -25px;
  position: absolute;
  z-index: 1800;
  color: gray;
  top: 0;
}

.custom-small-spots .tns-outer .tns-controls button:last-child::before {
  right: -25px;
  position: absolute;
  z-index: 1800;
  color: gray;
  top: 0;
}
