// Main Headings Font
@font-face {
  font-family: 'RobotoSlab-Bold';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/RobotoSlab-Bold.woff2') format('woff2'),
  url('../fonts/RobotoSlab-Bold.woff') format('woff'),
  url('../fonts/RobotoSlab-Bold.ttf') format('ttf');
}
// Headings Font
@font-face {
  font-family: 'Roboto-Bold';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
  url('../fonts/Roboto-Bold.woff') format('woff'),
  url('../fonts/Roboto-Bold.ttf') format('ttf');
}
@font-face {
  font-family: 'Oswald-Light';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Oswald-Light.woff2') format('woff2'),
  url('../fonts/Oswald-Light.woff') format('woff'),
  url('../fonts/Oswald-Light.ttf') format('ttf');
}
@font-face {
  font-family: 'RobotoSlab-Regular';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/RobotoSlab-Regular.woff2') format('woff2'),
  url('../fonts/RobotoSlab-Regular.woff') format('woff'),
  url('../fonts/RobotoSlab-Regular.ttf') format('ttf');
}
@font-face {
  font-family: 'Oswald-Regular';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Oswald-Regular.woff2') format('woff2'),
  url('../fonts/Oswald-Regular.woff') format('woff'),
  url('../fonts/Oswald-Regular.ttf') format('ttf');
}

//Links Font
@font-face {
  font-family: 'Oswald-Bold';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Oswald-Bold.woff2') format('woff2'),
  url('../fonts/Oswald-Bold.woff') format('woff'),
  url('../fonts/Oswald-Bold.ttf') format('ttf');
}

// Main text font
@font-face {
  font-family: 'Roboto-Regular';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
  url('../fonts/Roboto-Regular.woff') format('woff'),
  url('../fonts/Roboto-Regular.ttf') format('ttf');
}
