// Subscribe block
.mailchimp-signup-subscribe-form {
  //background-color: $brand-color;
  background-color: $dark-gray;
  margin-top: $regular-spacer;
  margin-bottom: $regular-spacer*2;
  width: calc(50% - #{$regular-spacer*3});
  float: left;
  padding-left: $small-spacer*5;
  padding-right: $small-spacer*3.5;
  margin-left: $regular-spacer*2;

  @include respond-to(tablets-landscape) {
    width: calc(50% - #{$regular-spacer});
    margin-left: 0;
    @include respond-to(tablets-portrait) {
      width: 100%;
      padding-left: $xlarge-spacer;
      padding-right: $xlarge-spacer;
      margin-top: $small-spacer;
      margin-bottom: 0;
      margin-left: 0;
      margin-right: 0;
      @include respond-to(phones-landscape) {
        padding-left: $large-spacer;
        padding-right: $large-spacer;
      }
    }
  }
  .content-wrapper {
    @include flex-wrap();
    align-items: stretch;
    height: 100%;
    justify-content: flex-start;

    .left-col, .right-col {
      display: block;
      float: left;
      width: 100%!important;
      padding: 0;

      @include respond-to(phones-landscape) {
        padding: 0;
      }
    }

    @include respond-to(phones-landscape) {
      flex-wrap: wrap;
      align-content: flex-start;
      height: auto;
      @include respond-to(phones) {
        padding-top: $regular-spacer;
        padding-bottom: $xlarge-spacer;
      }
    }
    .left-col {
      .block-title {
        @include text-mixin($heading-font-serif,
          $h1-font-size,
          $inverse-text-color,
          $font-weight-bold,
          $h1-font-size*1.2);
        @include respond-to(tablets-landscape) {
          font-size: $h2-font-size;
          @include respond-to(tablets-portrait) {
            font-size: $h1-font-size;
            @include respond-to(phones-landscape) {
              font-size: $h3-font-size;
              line-height: $h3-font-size+5px;
            }
          }
        }
        margin: $large-spacer*2 0 $large-spacer;
        a, a span {
          color: $brand-color;
        }
      }
    }
    .right-col {
      @include respond-to(tablets-portrait) {
        margin-bottom: $large-spacer;
      }
      form {
        @include respond-to(tablets-portrait) {
          padding-left: 0;
        }
        @include clearfix();
        .mailchimp-newsletter-mergefields, .form-actions {
          display: inline-block;
        }
        .mailchimp-newsletter-mergefields {
          width: calc(100% - 100px);
          position: relative;
          margin-top: 0;
          margin-bottom: $large-spacer;
          @include respond-to(phones) {
            width: calc(100% - #{$small-spacer*6.5});
            margin-bottom: 0;
          }
          .form-type-email {
            > label {
              display: none;
            }

            position: relative;
            color: $primary-text-color;
            &.active {
              &:after {
                content: '';
                position: absolute;
                display: block;
                bottom: (-$regular-spacer);
                left: 50%;
                margin-left: -$large-spacer;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: $large-spacer $large-spacer 0 $large-spacer;
                border-color: $inverse-color transparent transparent transparent;
                z-index: 100;
              }
            }
            .form-control {
              font-size: $large-font-size;
              padding: $regular-spacer;
              padding-right: $small-spacer; //To prevent overflow of loader and total counter
              height: 78px;
              margin: 0;
              width: 100%;
              color: $primary-text-color;
              @include placeholder($border-gray, $large-font-size, $font-weight-normal);
              @include respond-to(phones) {
                height: $small-spacer*5.5;
                font-size: $font-size;
              }
            }
          }
        }
        .form-actions {
          float: right;
          width: $small-spacer*10;
          @include respond-to(phones) {
            width: $small-spacer*6.5;
          }
          @include clearfix();
          .btn.btn-primary, .btn.btn-default {
            min-width: auto;
            @include circle-btn-mixin(80px, $inverse-color, $inverse-color, $primary-text-color, block);
            margin: 0 0 0 auto;
            @include respond-to(phones) {
              width: $small-spacer*5.5;
              line-height: $small-spacer*5.3;
              height: $small-spacer*5.5;
              &:after {
                font-size: $large-spacer;
                line-height: $small-spacer*5.3;
              }
            }
          }
        }
      }
    }
  }
}
