@media print {
  /* All print styles go here */

  .left-col,
  .right-col {
    padding: 0 !important;
  }

  article,
  .author-block {
    padding: 0 !important;
  }

  .image-col {
    margin-right: 5% !important;
  }


  .social-media-sharing,
  .social-media-sharing ul {
    height: auto !important;
  }
  .social-media-sharing ul li,
  .social-media-sharing ul li a {
    display: block !important;
    width: 100% !important;
    float: none !important;
    height: auto !important;
  }

  .content-wrapper {
    width: 100% !important;
    max-width: 100% !important;
  }

  .book-list-books {
    width: 200px !important;
  }
  .book-list-books img {
    width: 170px !important;
  }

  /* Hide generel page elements that is not relevent on print */

  .pager,
  .eu-cookie-compliance-banner,
  ddb-widget,
  footer {
    display: none;
  }

 }

/**
 * ITK Print
 *
 * See lit print module for book list print styling.
*/
.print--wrapper {
  position: relative;

  a {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    font-size: 1.5em;
  }
}
