.llu-banner {
  --banner-bg: #3a3b3d;

  width: 100%;
  background-color: var(--banner-bg);
  padding: 20px;
  color: #fff;
  font-family: RobotoSlab-Regular, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}

.llu-banner .container {
  text-align: center;
  color: #ffffff;
}

/* Evil hack that should not be here.... but it is here. */
.comments-posting-forbidden {
  display: none;
}
