<div style="overflow: hidden;">
    <div style="clear:both; float:left; margin-right:10px;">
        <img src="{{ image }}" style="height: 61px;">
    </div>
    <div style="overflow: hidden;">
        <b>{{ label }}</b><br>
        {{ author }}<br>
        {{ storage }}
    </div>
</div>
