/*
** Reset from Josh Comeau
** https://www.joshwcomeau.com/css/custom-css-reset/
*/

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/*
** Fonts loaded from google fonts
** https://fonts.google.com/share?selection.family=Oswald:wght@200;400|Roboto|Roboto+Slab
*/
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v41/TK3iWkUHHAIjg752GT8Gl-1PKw.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v41/TK3iWkUHHAIjg752GT8Gl-1PKw.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotoslab/v22/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjojISmb2RlV9Su1cai.woff)
    format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* Litteratur icons */
@font-face {
  font-family: "literatur-icons";
  src: url("../literatur-icons.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Default variables */
:root {
  --font-size-base: 1rem;
  --font-family-oswald: "Oswald", Verdana, sans-serif;
  --font-family-roboto: "Roboto", Arial, sans-serif;
  --font-family-roboto-slab: "Roboto Slab", Georgia, serif;
  --font-family-base: var(--font-family-roboto);

  --color-primary: #ff5002;
  --color-gray-400: #d8d8d8;
  --color-text: #3a3b3d;

  --spacer: 16px;

  --border: 1px solid var(--color-gray-400);

  --icon-book: "\e902";
}

/* Defaults */
html,
body {
  margin: 0;
  padding: 0;
  color: var(--color-text);
  font-family: var(--font-family-base);
  font-size: calc(17 / 16 * var(--font-size-base));
}

/* Orange top */
header {
  background-color: var(--color-primary);
}

/* Text */
h1 {
  font-family: var(--font-family-oswald);
  font-size: calc(45 / 16 * var(--font-size-base));
  margin-top: calc(var(--spacer) * 0.5);
  margin-bottom: calc(var(--spacer) * 2);
  padding-top: 0;
  padding-bottom: calc(var(--spacer) * 2);
  border-bottom: var(--border);
  line-height: 1.25;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  font-family: var(--font-family-roboto-slab);
  font-size: calc(35 / 16 * var(--font-size-base));
  font-weight: 300;
}

h3 {
  font-weight: 400;
}

a {
  color: var(--color-primary);
}

p {
  break-after: column;
}

strong {
  font-weight: 400;
}

/* List type element */
.list-type {
  font-family: var(--font-family-oswald);
  text-transform: uppercase;
  margin-bottom: 0;
}

/* Background decoration */
.body-background-image {
  background-image: url("../Litteratur_bg_footer.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 80px;
  left: 0;
  opacity: 0.1;
  width: min(1000px, 50%);
  height: min(1000px, 50%);
  z-index: -1;
}

/* Width wrapper for centering content */
.max-width-wrapper {
  width: min(595px, 100%);
  margin: 0 auto;
  padding: 16px 0;
}

/* Book list header with icon */
.book-list-header {
  display: flex;
  flex-direction: row;
  padding: calc(var(--spacer) * 2) 0;
  border-top: var(--border);
  align-items: center;
}

.book-list-header::before {
  content: var(--icon-book);
  speak: none;
  font-style: normal;
  font-weight: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  color: rgb(255, 255, 255);
  display: inline-block;
  background-color: rgb(255, 80, 2);
  font-size: 35px;
  text-align: center;
  margin-right: 20.75px;
  width: 83px;
  height: 83px;
  line-height: 83px;
  font-family: literatur-icons !important;
  font-variant: normal;
  border-radius: 50%;
}

/* Wrapper for the list of books */
.book-list {
  padding-bottom: calc(var(--spacer) * 2);
  border-bottom: var(--border);
}

/* Book list items */
.book-item {
  display: flex;
  flex-direction: row;
  gap: var(--spacer);
  margin: calc(var(--spacer) * 2) 0;
}

.book-item-image {
  max-width: 120px;
}

.book-item-title {
  font-family: var(--font-family-oswald);
  text-transform: uppercase;
  margin-top: calc(var(--spacer) * 0.5);
  margin-bottom: 0;
}

.book-item-author {
  margin-top: calc(var(--spacer) * 0.5);
  margin-bottom: calc(var(--spacer) * 1);
}

/* Footer - Add ekstra bottom spacing */
footer {
  padding-bottom: calc(var(--spacer) * 2);
}

/* Specific styles targeting print */
@media print {
  /* Avoid page-break inside list item */
  .book-item {
    break-inside: avoid;
    /* Firefox hack*/
    overflow: hidden;
  }

  /* Remove small artifact from image beeing left on page break */
  .book-item-image {
    margin-top: 1px;
  }

  /* Add border around icon */
  .book-list-header::before {
    color: var(--color-text);
    border: var(--border);
  }
}
